{% extends "admin/change_form.html" %}
{% load account_extras %}

{% block after_related_objects %}

<div class="form-row">

	{% if original.passport_state != 'EMP' %}
		<a href="{% aws_document_link "passport" original.user.id %}" target="_blank" class="viewsitelink">See Passport Document</a>
	{% endif%}

	{% if original.proof_of_residence_state != 'EMP' %}
		<a href="{% aws_document_link "proof_of_residence" original.user.id %}" target="_blank" class="viewsitelink">See Proof of Residence</a>
	{% endif%}

</div>
{% endblock %}


