<html>
<body>

{% if first_name %}
<p>Hi {{ first_name }},</p>
{% else %}
<p>Dear {{ site_name }} User,</p> 
{% endif %}

<p>We regret to inform you that your {{ document }} has been declined.</p>

<p> 
This is because {{ reason }}
</p>

<p>
Please resubmit this document as described on our verification page: {{ protocol }}://{{ site.domain }}/{{ verification }}.
</p>

<p>
If you have any questions, please contact us at {{ support }}. Our support staff is more than happy to assist you.
</p>

<p>
Sincerely,<br>
The {{ site_name }} Team
</p>

</body>
</html>