<html>
<body>

{% if firstname %}
<p>Hi {{ firstname }},</p>
{% else %}
<p>Dear {{ site_name }} User,</p> 
{% endif %}

<p>We regret to inform you that your uploaded {{ document }} has been declined.</p>

<p> 
This is because {{ reason }}<br>

Please resubmit this document as described on our verification page: {{ protocol }}://{{ site.domain }}/{{ verification }}.<br>

If you have any questions, please read our FAQ or contact us via {{ support }}. Our support staff is more than happy to assist you.<br>
</p>

<p>
Sincerely,<br>
The {{ site_name }} Team
</p>

</body>
</html>