<html>
<body>
	
<p>Dear {{ site_name }} User,</p>

<p>we regret to inform you that your uploaded {{ document }} has been denied.</p>

<p> 

The reason is: {{ reason }}<br>

Please resubmit this document as described on our verification page: {{ protocol }}://{{ site.domain }}/{{ verification }}.<br>

If you have any questions, please read our FAQ or contact us via {{ support }}. Our support staff will be more than happy to assist you.<br>
</p>

<p>
Thanks for using our site!<br>
Sincerely,<br>
The {{ site_name }} Team
</p>

</body>
</html>