{% load i18n %}
{% autoescape off %}
{% load account_extras %}
<html>
<body>
    <p>
        {% blocktrans with site.name as site %}You requested a change of your email address at {{ site }}.{% endblocktrans %}
    </p>
    <p>
        {% trans "Please confirm this email address by clicking on the link below:" %}<br>
        {{ protocol }}://{{ site.domain }}/{% email_change_link confirmation_key%}

    </p>
    <p>
        {% trans "Thanks for using our site!" %}<br />
        {% trans "Sincerely" %},<br />
        {% trans "The" %} {{ site.name }} {% trans "Team" %}
    </p>
    </body>
    </html>
{% endautoescape %}
