{% load account_extras %}
<html>
<body>
    {% if firstname %}
    <p>Hi {{ firstname }},</p>
    {% else %}
    <p>Dear {{ site.name }} User,</p> 
    {% endif %}
    <p>
        You requested to change your email address at {{ site }}.
    </p>
    <p>
        To confirm this email as your new address, please click on the link below:<br>
        {{ protocol }}://{{ site.domain }}/{% email_change_link confirmation_key%}
    </p>
    <p>
        Sincerely,<br/>
        The {{ site.name }} Team
    </p>
</body>
</html>
